
@{
    ViewBag.Title = "Forgetpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-sign">

    @using (Html.BeginForm())
    {

    <div class="form-horizontal">
        <h1>Forget Password</h1>
        <hr />
        <p style="color:red;">@ViewBag.msg</p>
        <div class="form-group">
            <div class="col">
                @Html.TextBox("email", null, new { placeholder = "Enter your Email", @class = "t2 form-control" })

            </div>
        </div>
        <div class="form-group">
            <div class="col">
                @Html.TextBox("number", null, new { placeholder = "Enter your Phone no", @class = "t2 form-control" })

            </div>
        </div>
        <div class="form-group">
            <div class="col">
                @Html.TextBox("password", null, new { Type = "password", placeholder = "Enter your new Password", @class = "t2 form-control" })

            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <input type="submit" value="Create" class="btn" />
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <a href=" @Url.Action("Login", "Home") " class="a">Back to Login</a>
            </div>
        </div>
    </div>
    }

</div>