@mo@model IEnumerable<TNT_express.Models.ticket>

@{
    ViewBag.Title = "Ticket";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-body">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Ticket</h4> @Html.ActionLink("Add Ticket", "c_Ticket", "Admin", new { @class = "btn btn-dark" })
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example3" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    No of seats
                                </th>
                                <th>
                                    Total Fare
                                </th>
                                <th>
                                    Departure
                                </th>
                                <th>
                                    Destination
                                </th>
                                <th>
                                    Name
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        @item.no_seat
                                    </td>
                                    <td>
                                        @item.fare
                                    </td>
                                    <td>
                                        @item.shedule.departure
                                    </td>
                                    <td>
                                        @item.shedule.destination
                                    </td>
                                    <td>
                                        @item.user.u_name
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="@Url.Action("e_Ticket","Admin", new { id = item.ticket_Id })" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                            @using (Html.BeginForm("Delete", "Admin", FormMethod.Post, new { id = item.ticket_Id }))
                                            {
                                                <button class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
