@model TNT_express.Models.blog

@{
    ViewBag.Title = "e_Blogs";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-body">

    <h2>Edit Blogs</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>blog</h4>
            <hr />
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.pic_blog, new { htmlAttributes = new { placeholder = "Edit Blog Image", @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.place_name, new { htmlAttributes = new { placeholder = "Edit place name", @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.city, new { htmlAttributes = new { placeholder = "Edit Blog City", @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { placeholder = "Edit Blog description", @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>
