@model IEnumerable<TNT_express.Models.shedule>

@{
    ViewBag.Title = "Shedule";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Shedule</h2>
<div class="content-body">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Shedule</h4> @Html.ActionLink("Add Shedule", "c_Shedule", "Admin", new { @class = "btn btn-dark" })
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example5" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>
                                   Travel date
                                </th>
                                <th>
                                    Departure
                                </th>
                                <th>
                                    Destination
                                </th>
                                <th>
                                    Duration
                                </th>
                                <th>
                                    Bus no
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.travel_date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.departure)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.destination)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.duration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.bus.bus_company)
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="@Url.Action("e_Shedule","Admin", new { id = item.shedule_id })" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                            @using (Html.BeginForm("Delete", "Admin", FormMethod.Post, new { id = item.shedule_id }))
                                            {
                                                <button class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>